node_red_flow
[
    {
        "id": "dec304f8.aa61b8",
        "type": "tab",
        "label": "Temperatur.nu",
        "disabled": false,
        "info": ""
    },
    {
        "id": "67fb26e0.295868",
        "type": "mqtt in",
        "z": "dec304f8.aa61b8",
        "name": "greenhouse:temp",
        "topic": "/greenhouse/DHT22/Temperature",
        "qos": "0",
        "broker": "b4900578.721178",
        "x": 547.173469543457,
        "y": 358.773154258728,
        "wires": [
            [
                "feac8a43.c05128"
            ]
        ]
    },
    {
        "id": "feac8a43.c05128",
        "type": "function",
        "z": "dec304f8.aa61b8",
        "name": "MQTT to Temperatur.nu",
        "func": "var tokens = msg.topic.split(\"/\");\nvar dest = tokens[tokens.length-1];\nmsg.url =\"http://www.temperatur.nu/rapportera.php?hash=xxxxxxxxxxxxxxxxxxxxxxxxxx&t=\" + msg.payload;\nmsg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 786.90234375,
        "y": 357.886775970459,
        "wires": [
            [
                "b74df439.ae3568",
                "a7506fd6.3c0af"
            ]
        ]
    },
    {
        "id": "a7506fd6.3c0af",
        "type": "http request",
        "z": "dec304f8.aa61b8",
        "name": "HTTP POST",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1017.3027267456055,
        "y": 320.1007823944092,
        "wires": [
            [
                "2ccb48c8.2a93d8"
            ]
        ]
    },
    {
        "id": "b74df439.ae3568",
        "type": "debug",
        "z": "dec304f8.aa61b8",
        "name": "before http",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1029.821533203125,
        "y": 403.4985189437866,
        "wires": []
    },
    {
        "id": "1d14c89e.e91197",
        "type": "comment",
        "z": "dec304f8.aa61b8",
        "name": "input",
        "info": "input format; devicename/sensorname/measurement/value\nexample: /climate/DHT22/Temperature/3.5\n\nReplace server and topic with your own.",
        "x": 516.7657165527344,
        "y": 327.5015048980713,
        "wires": []
    },
    {
        "id": "9cde77a2.dfdaf8",
        "type": "comment",
        "z": "dec304f8.aa61b8",
        "name": "function",
        "info": "Split everything up by each / in the input string to get only the value reported.\nReplace HASH in the url with your own from temperatur.nu\n",
        "x": 726.3732109069824,
        "y": 328.1051940917969,
        "wires": []
    },
    {
        "id": "2ccb48c8.2a93d8",
        "type": "debug",
        "z": "dec304f8.aa61b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1193.954475402832,
        "y": 349.93095684051514,
        "wires": []
    },
    {
        "id": "b4900578.721178",
        "type": "mqtt-broker",
        "z": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]
